@font-face {
	font-family: 'Rubik';
	font-display:swap;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
	url("../fonts/Rubik-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
;}

@font-face {
	font-family: 'pfsquaresanspro';
	font-display: swap;
	src: url("../fonts/pfsquaresanspro-medium.woff2") format("woff2"),
		url("../fonts/pfsquaresanspro-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	;
}
