$Rubik: 'Rubik',
sans-serif;

$pfsquaresanspro: 'pfsquaresanspro',sans-serif;

// $hover2: red;

$active: #fb0909;

$red:#db3424;
$ac: #ff8000;
$focus:#14B4BE;
$title: #436372;

$orange: #FF9900;
$orange1: #eb6924;
$orange2: #ff6500;

$yellow:#f4c20c;

$white: #FFFFFF;
$white1:#fff2e5;
$white2:#f0f0f0;
$white3:#f6f7f8;
$white4:#f4f8fe;
$white5:#cdd4dc;
$white6:#f9f8f8;
$white7:#fbfbfb;
$white8:#efefef;
$white9:#e8e8e8;
$white10:#f3f3f3;







$silver:#858585;
$silver1:#f0f0f0;
$silver2:#eeeeee;
$silver3:#7b7b7b;
$silver4:#f7f7f7;
$silver5:#737c80;
$silver6:#cfcfcf;
$silver7:#ededed;
$silver8:#e1e1e1;
$silver9:#9b9b9b;








$black: #000000;
$black1: #4a4a4a;
$black2: #3d4143;
$black3:#2a2c35;

$green1: #aadc77;
$green2:#d2ecb9;
$green3:#0cab46;
$green4:#8aab64;

// $section:50px;/*100*/
$title-margin: 30px;

$padding-main:50px;
// $padding-1200:60px;
$padding-992:40px; //70
$padding-768:30px; //50
$padding-576:20px;

// отступ между блоками 40px


@mixin line-clamp-box($line-clamp, ) {
    display: -webkit-box;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin line-clamp-inline($line-clamp, ) {
    display: -webkit-inline-flex;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin line-clamp-one($max-width, ) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: $max-width;
}


/*$ac: #fcd7b6;

/*accent*/
/*
$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$red1 :#fe3e57;
$orange: #ffa500;

$active: #fb0909;
$ac: #fcd7b6;
$green:#14B4BE;
*/