@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
// 1rem 10px 

// html,
// body {
//     height: 100%;
//     font-size: 100%;

// }

.logo {
    z-index: 100;

    @media (max-width: 576px) {
        width: 100%;
        text-align: center;
        order: 1;
    }

    &__img {
        width: 10rem;
        height: 3rem;
        object-fit: cover;
    }
}

.menu {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $silver1;
    padding: 0 1.5rem;

    @media (max-width: 992px) {
        padding: 2rem 1.5rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // max-width: 120.5rem;
        max-width: 68%;
        margin: auto;

        @media (max-width: 576px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    &__logos {
        @media (max-width: 576px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
        }

        // !!!
    }

    &__btn {
        display: none;

        @media (max-width: 992px) {
            order: 1;
            // margin-left: 40px;
            width: 3rem;
            height: 2.2rem;
            position: relative;
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            padding: 0;
            z-index: 10;

            @media (max-width: 576px) {
                order: 0;
                margin-bottom: 2rem;
            }

            span {
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $black;
            }

            &::before {
                content: '';
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &__items {
        display: flex;
        gap: 0 3rem;

        @media (max-width: 992px) {
            transform: translateY(-200%);
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            background-color: #edf1f4;
            transition: transform 1s;
            padding: 11.5rem 0 2rem;

            &.menu__items--active {
                transform: translateY(0%);
            }
        }

        @media (max-width: 768px) {
            padding: 14rem 0 2rem;
        }

        @media (max-width: 576px) {

            padding: 18rem 0 2rem;
        }
    }

    &__item {
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.5s;

        @media (max-width: 992px) {
            width: 100%;
            text-align: center;
        }

        &--active {
            border-bottom: 3px solid $orange1;

        }

        &:focus {
            color: $focus;
        }

        &:hover {
            border-bottom: 3px solid $orange1;
            color: $ac;
            // background-color: red;
        }

        &:active {
            color: $active;
        }
    }

    &__link {
        font-size: $fz-small;
        outline-color: $black;
        outline-offset: .5rem;
        display: block;
        // color: $black2;
        padding: 3rem 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        max-width: 20rem;

        @media (max-width: 992px) {
            // z-index: 10;
            // display: block;
            margin: 0 auto;
        }
    }
}

.header {
    &__top {
        background-color: $white6;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
        margin: 0 auto;
        // max-width: 120.5rem;
        max-width: 67%;
        // max-width: 75rem;
    }

    &__button {
        padding: 3rem 0;
    }
}

.header-fixed {
    position: fixed;
}

.social {
    display: flex;
    gap: 1.5rem;

    &__link {
        display: inline-flex;

        &:hover {
            svg {
                fill: $ac;
            }
        }
    }
}

.tel {
    display: flex;
    align-items: center;
    transition: color 0.5s;
    font-size: $fz-small-2;
    color: $black1;

    &:focus {
        color: $focus;
    }

    &:hover {
        color: $ac;

        .tel__svg {
            fill: $ac;
        }

        svg {
            fill: $ac;
        }
    }

    &:active {
        color: $active;
    }

    &__svg {
        margin-right: 1rem;
    }
}

.nav {
    gap: 2rem;
    display: flex;
    z-index: 100;

    @media (max-width: 576px) {
        // display: flex;
        justify-content: center;
        // max-width: 110px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__button,
    &__brand {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    &__brand {
        text-align: center;
        padding: 1.1rem;
        font-size: $fz-small;
        color: $ac;
        background-color: $white1;
        border: 1px solid $ac;
        @include line-clamp-one(110px);

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $white;
            background-color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__button {
        padding: .9rem;
        border-radius: .3rem;
        font-size: $fz-small;
        border: none;
        color: $white;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, $orange), to($orange1));
        transition: background-color 0.5s;
        @include line-clamp-one(130px);

        &:focus {
            color: $focus;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            color: $active;
        }
    }
}

#container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.hero {
    position: relative;
    // max-width: 128rem;
    max-width: 67%;
    // width: 100%;
    margin: 0 auto;
    // плдумать про бем блок

    &__video {
        // max-width: 1250px;
        // height: 55vh;
        height: 52rem;
        object-fit: cover;
        // position: relative;
        z-index: -200;

        @media (max-width: 1200px) {
            height: 45rem;
        }

        @media (max-width: 992px) {
            height: 40rem;
        }

        @media (max-width: 768px) {
            height: 35rem;
        }

        @media (max-width: 576px) {
            height: 30rem;
        }
    }

    &__svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 36rem;
        width: 30rem;
        z-index: 1;

        @media (max-width: 992px) {
            height: 40rem;
        }

        @media (max-width: 992px) {
            height: 35rem;
        }

        @media (max-width: 768px) {
            height: 30rem;
        }

        @media (max-width: 576px) {
            height: 25rem;
        }
    }
}

.about {
    max-width: 128rem;
    margin: 0 auto;
    background-color: $white;
    padding-top: $padding-main;

    &__title {
        position: relative;
        margin-bottom: $title-margin;

        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            height: 5rem;
            width: 40rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -200;

            @media (max-width: 576px) {
                top: -2rem;
                background-size: 29rem 8.5rem;
                height: 10rem;
            }
        }
    }

    &__inner {
        max-width: 90rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 4.5rem;
        margin-bottom: $padding-main;

        @media (max-width: 992px) {
            justify-content: center;
            gap: 4rem;
        }

        @media (max-width: 768px) {
            gap: 3rem;
        }

        @media (max-width: 576px) {
            gap: 2rem;
        }
    }

    &__text p {
        font-size: $fz;
        width: 26.5rem;
        position: relative;
    }

    &__text span {
        font-weight: 700;
    }

    &__svg {
        margin-bottom: 1rem;
    }
}

.statistic {
    // карточки не открываются
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    // height: 320px;
    flex-wrap: wrap;
    // @media (max-width: 992px) { }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41.5rem;
        min-height: 32rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: background-color 0.5s;

        @media (max-width: 576px) {
            max-width: 41.5rem;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            .statistic__background {
                opacity: 0.8;
            }

            .statistic__content {
                top: 50%;
            }

            .statistic__text {
                opacity: 0;
                visibility: hidden;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__content {
        width: 80%;
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 10;
        transition: all 0.5s;
    }

    &__subtext {
        font-size: $fz;
        line-height: 1.6;
        text-align: center;
        position: relative;
        color: $white;
        z-index: 5;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $orange1;
        opacity: 0.01;
        z-index: 1;
        transition: opacity 1s,
    }

    &__text {
        color: $white;
        z-index: 10;
        white-space: nowrap;
        opacity: 1;
        visibility: visible;
        width: 24rem;
    }

    &__box {
        padding-right: 4rem;
    }

    &__arrow {
        height: 1px;
        width: 100%;
        background-color: $white;
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__number {
        font-weight: 700;
        font-size: $fz-big;
        text-align: center;
        display: block;
        margin-bottom: .5rem;
    }

    &__info {
        padding-left: 4rem;
        white-space: nowrap;
    }
}

.conditions {
    padding-top: $padding-main;
    position: relative;
    background-color: $white;
    margin: 0 auto;
    max-width: 128rem;

    &__title {
        margin-bottom: $title-margin;
        /*!*/
        /**/
        position: relative;
        z-index: 200;
        text-align: center;
        margin-top: 4rem;
        // @include line-clamp-one(800px);

        &::before {
            content: "";
            position: absolute;
            top: -4rem;
            left: 50%;
            transform: translateX(-50%);
            height: 10rem;
            width: 78rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -200;

            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        width: 96rem;
        margin: auto;
        position: relative;
        z-index: 200;
        margin-bottom: 2rem;
        flex-wrap: wrap;

        @media (max-width: 576px) {
            display: block;
            width: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -1%;
            max-width: 96rem;
            height: 14.5rem;
            z-index: -200;
            background-image: url('../images/conditions-bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 96rem 15.1rem;

            @media (max-width: 992px) {
                background-size: 76.8rem 15.1rem;
            }
        }
    }

    &__item {
        width: 32rem;
    }

    &__inner {
        display: flex;
    }

    &__number {
        transition: color 0.5s;
        font-weight: 500;
        font-size: $fz-number;
        color: $green2;
        margin-right: 1rem;

        &--mr {
            margin-left: 1rem;
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $green1;
        }

        &:active {
            color: $active;
        }
    }

    &__right {
        width: 21.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__subtitle {
        font-size: $fz-subtitle;
        margin-bottom: .5rem;
        color: $black;
        font-weight: 500;
    }

    &__text {
        font-size: $fz-small;
        color: $black1;
        // line-height: 22px;
        line-height: 1.5;
        @include line-clamp-box(6);

        &--list {
            list-style: disc;
            padding-left: 2rem;
            @include line-clamp-box(1);

        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $white2;
        border-bottom: 1px solid $white2;
        padding: 2rem 2rem;
        justify-content: space-between;
        width: 96rem;
        margin: auto;
        font-size: $fz;

        /*пришлось писать 2 раза можно через html*/
        @media (max-width: 576px) {
            display: block;
            width: 100%;
        }
    }

    &__info p {
        position: relative;

        &::before {
            content: "\2714";
            position: absolute;
            top: 0;
            left: -2.2rem;
            height: 1rem;
            width: 1rem;
        }
    }
}

.packages {
    padding-top: 4rem;
    // отступ между блоками

    &__items {
        display: flex;
        justify-content: space-around;
        padding-bottom: $padding-main;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__item {
        border-radius: 3rem;
        background-color: $white;
        border: 1.5rem solid $white3;
        display: flex;
        flex-direction: column;
        max-width: 55.5rem;
    }

    &__rate {
        margin-top: 1rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: $fz-rate;

        &--color-wi {
            color: $orange2;
        }

        &--color-ju {
            color: $green3;
        }
    }

    &__text {
        padding: 0 1rem;
        margin-bottom: 2rem;
        text-align: center;
        color: $silver;
        line-height: 1.55;
        font-weight: 500;
        font-size: $fz;
        // небыло
        @include line-clamp-box(3);
    }

    &__list {
        margin-bottom: .5rem;
        padding: 0 10rem;
        margin-bottom: auto;
    }

    &__list span {
        color: $active;
    }

    &__list li {
        color: $black;
        font-size: $fz;
        line-height: 1.55;
        @include line-clamp-box(2);

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__link {
        margin: 2rem auto;
        padding: 2rem 5.7rem;
        color: $white;
        margin-top: 6rem;
        max-width: 48rem;
        text-align: center;
        font-size: $fz-small;
        // line-height: 55px;
        font-weight: 500;
        letter-spacing: .2rem;
        border-radius: 3rem;
        @include line-clamp-box(1);
        transition: background-color 0.5s color 0.5s;

        &--color {
            background-color: $green3;
            border: 2px solid $green3;

            &:hover {
                color: $green3;
            }
        }

        &--color-link {
            background-color: $orange2;
            border: 2px solid $orange2;

            &:hover {
                color: $orange2;
            }
        }

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $white;
        }

        &:active {
            color: $active;
        }
    }

    &__img {
        width: 12.5rem;
        height: 52rem;
        object-fit: cover;
    }
}



.map {
    position: relative;
    margin: auto;
    width: 100%;
    height: 49rem;
    overflow: hidden;

    &__frame {
        position: absolute;
        top: -5.5rem;
        left: 0;
        width: 100%;
        height: 56.6rem;
    }
}

.map-icons {
    position: relative;
    display: flex;
    justify-content: center;
    padding: $padding-main 0;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $fz-small;
        @include line-clamp-inline(1);

        &:not(:last-child) {
            margin-right: 6.5rem;
        }
    }

    &__svg {
        margin-bottom: 2rem;
    }
}

.create-office {
    padding-top: $padding-main;
    max-width: 125rem;
    margin: auto;
    background-color: $white;

    /*возможно разделить*/
    &__title {
        margin-bottom: $title-margin;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%);
            height: 10rem;
            width: 44.5rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;

            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 96rem;
        margin: auto auto 3rem auto;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__text {
        max-width: 61rem;
        font-weight: 400;
        font-size: $fz;
        // небыло
    }

    &__text p {
        @include line-clamp-box(6);
    }

    &__info {}

    &__div {
        display: flex;
    }

    &__box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem 2.2rem 1.2rem 2.2rem;
        border: 1px solid $white10;
        max-width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__number {
        display: block;
        font-size: $fz-number2;
        margin-top: 1.8rem;
        line-height: 1;

        &--shopping {
            color: $orange1;
        }

        &--gifts {
            color: $green4;
        }
    }

    &__gifts {}

    &__prise {
        margin-left: 1rem;
    }

    &__sum {
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        font-size: $fz-number2;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: $black2;
        max-width: 14rem;
        // @include line-clamp-box(1);
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // overflow: hidden;/*! не получилось правильно сделать обрезание текста*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__button {
        display: block;
        padding: 1rem 3.1rem;
        border: none;
        cursor: default;
        background-color: $white4;
        color: $white5;
        font-size: $fz;
    }
}

.filter {
    &__list {
        display: flex;
        justify-content: center;
        border-top: 1px solid $silver1;
        border-bottom: 1px solid $silver1;
        margin-bottom: 3rem;
        outline-color: $black;
        outline-offset: .5rem;
    }

    &__item {
        display: flex;
        justify-content: center;
        height: 5rem;
        font-size: $fz-small;
        color: $black2;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.5s;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        /*откуда*/
    }
}

.mixitup-control-active {
    border-bottom: 2px solid $ac;

}

.slider-content {
    &__items {
        display: flex;
        // justify-content: ;
        // justify-content: space-between; возможно убрать ломается сетка с 2 товарами
        flex-wrap: wrap;
        gap: 3.5rem 3rem;
        width: 96rem;
        padding-bottom: $padding-main;
        margin: auto;
        height: 63rem;
    }

    &__item {
        width: 29.5rem;
        /*!*/
        height: 29.5rem;
        background-color: $white;
        border: 1px solid $silver2;
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0 2rem 2.6rem 0 rgba(0, 0, 0, 0.2);

            .slider-content__item {
                box-shadow: -2rem 3rem 2.6rem 0 $black;
            }

            .slider-content__images {
                transform: translateY(0%);
                transition: 2s;
                // animation: padding 1s linear;
                // animation-fill-mode: both;
                // ездит
            }

            // .slider-content__cart {
            //     visibility: visible;
            //     opacity: 1;
            // }
            // &__img {
            //     transform: translateY(0%);
            // }

            .slider-content__inner {
                visibility: visible;
                opacity: 1;
                transition: 1s; //нужно загорание нижней части
            }
        }
    }

    .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.35);
    }

    // @keyframes padding {
    //     from {
    //         transform: translateY(10%);
    //     }

    //     to {
    //         transform: translateY(0%);
    //     }
    //     // до анимации
    // }

    // @keyframes padding-back {
    //     from {
    //         transform: translateY(0%);
    //     }

    //     to {
    //         transform: translateY(10%);
    //     }
    //     // после анимации
    // }

    &__images {
        // transform: translateZ(0%);
        transform: translateY(10%);

        // top: 330px;
        margin: auto;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        // animation: padding-back 1s linear;
        // animation-fill-mode: both;
        // animation: padding 2s linear;
        // animation-fill-mode: both;
        // transition: 3.5s;

    }

    &__img {
        width: 19.5rem;
        height: 19.5rem;
        object-fit: contain;
        object-position: center;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        visibility: hidden;
        opacity: 0;
        margin-bottom: 2rem;
    }

    &__name {
        font-weight: 500;
    }

    &__box {
        font-weight: 500;
        color: $orange1;
        margin-bottom: .5rem;
        text-align: end;
    }

    &__cart {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        background-image: linear-gradient(-180deg, $orange 3%, $orange2 100%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 2rem;
        // transition: all 10s;
        transition: 10s;
    }
}

.swiper-button-disabled {
    color: $silver6;
    font-weight: 700;
}

.swiper-button-next::after {
    margin-right: 10rem;
    /*%*/
}

.swiper-button-prev::after {
    margin-left: 10rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: $fz-sviper;
    font-weight: 700;
    color: $orange1;
}

.swiper-button-next {
    right: -9%;
}

.swiper-button-prev {
    left: -9%;
}

.swiper-button-prev,
.swiper-button-next {
    z-index: 999;
    width: 2.4rem;
    top: 36%;
    height: 2.4rem;
    transition: fill;
    display: flex;
    cursor: pointer;
    width: 16rem;
    height: 16rem;
    background-color: $white;
    border-radius: 100%;
    border: 1px solid $silver7;

    &:focus {
        color: $focus;
    }

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        color: $active;
    }
}

.reviews {
    background-color: $white;
    padding: $padding-main 0;
    max-width: 128rem;
    margin: 0 auto;

    &__title {
        margin-bottom: $title-margin;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            height: 5rem;
            width: 40rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -200;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        cursor: grab;
    }

    &__inner {}

    &__img {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
    }

    &__review {
        width: 30rem;
        height: 30rem;
        background-color: $white;
        border: 1px solid $silver1;
        padding: 1rem;
        overflow: hidden;
        // !!!потом возможно убрать высоту
    }

    &__subtitle {
        margin-bottom: 1rem;
        font-size: $fz;
        text-align: center;
        font-weight: 700;
    }

    &__adress {
        font-size: $fz-small;
        color: $silver3;
        line-height: 1.1;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &__text {
        font-style: italic;
        font-size: $fz-small;
        line-height: 1.5;
        padding-left: 1rem;
        max-width: 30rem;
        max-height: 19rem;
        overflow: hidden;
    }

    // &__text p {
    // }

    // &__inner {}
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.cooperation {
    padding-top: $padding-main;
    background-color: $white;
    max-width: 128rem;
    margin: 0 auto;

    &__title {
        margin-bottom: $title-margin;
        position: relative;
        font-weight: 700;
        margin-top: 4rem;

        &::before {
            content: "";
            position: absolute;
            top: -3.5rem;
            left: 50%;
            transform: translateX(-50%);
            height: 10rem;
            width: 90rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -200;

            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }

    &__images {
        max-width: 96rem;
        margin: auto;
        margin-top: 5rem;
    }

    &__img {
        max-width: 96rem;
        height: 33.3rem;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__background {
        background-color: $white;
    }
}

.vacancies {
    //закрытье по нажатие в любое место
    position: relative;

    &__background {
        background-image: url('../images/vacancy-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 55vh;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 52rem;
            width: 35.5rem;
            background-image: url('../images/vacancies/vacancy-hands.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @media (max-width: 576px) {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -5.9rem;
            left: 3.2rem;
            height: 25rem;
            width: 22rem;
            background-image: url('../images/vacancies/vacancy-tel.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            // @media (max-width: 576px) {
            //     width: 100%;
            // }

        }
    }

    &__content {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 10rem;
            height: 30rem;
            width: 23rem;
            background-image: url('../images/vacancies/vacancy-purse.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__title {
        margin-bottom: $title-margin;
        position: relative;
        font-weight: 700;
        font-size: $fz-title;
        padding-top: 9rem;
        z-index: 200;

        &::before {
            content: "";
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translateX(-50%);
            width: 56rem;
            height: 10rem;
            background-image: url('../images/yellow-stripe.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -200;

            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }

    &__text {
        color: $black1;
        font-size: $fz-text;
        text-align: center;
        margin-bottom: 10rem;
    }

    &__box {
        text-align: center;
        padding: 2.5rem 8.5rem;
        font-weight: 700;
        background-color: $white;
        cursor: pointer;
        display: block;
        color: $black3;
        max-width: 42rem;
        margin: 0 auto;
        white-space: nowrap;
        transition: background-color 0.5s,
            color 0.5s;
        font-size: $fz;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $orange1;
            color: $white;
        }

        &:active {
            color: $active;
        }
    }

    &__map {}

    &__list {
        // padding: 35px;
        max-width: 42rem;
        margin: 0 auto;
        background-color: $white;
        position: relative;
        height: 55vh;
        overflow: overlay;
    }

    &__subtitle {
        font-weight: 700;
        font-size: $fz;
        margin-bottom: 1.5rem;
    }

    &__items {
        list-style-type: disc;
        margin-bottom: 2.5rem;
    }

    &__items li {
        padding-left: 2rem;
        position: relative;
    }


    &__link {
        border-radius: 3px;
        padding: 1rem 1.8rem;
        display: inline-block;
        font-size: $fz;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, $orange), to($orange2));
        background-image: linear-gradient(-180deg, $orange 3%, $orange2 100%);
        border-radius: 3px;
        color: $white;
        opacity: 1;
        transition: all 0.25s ease-in-out;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, $orange), to($orange2));
            background-image: linear-gradient(180deg, $orange 50%, $orange2 100%);
        }

        &:active {
            color: $active;
        }
    }
}


.footer {
    margin-top: $padding-main;

    &__inner {
        display: flex;
        padding-bottom: $padding-main;
        justify-content: space-between;

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__adress {
        margin-bottom: 1.5rem;
        font-size: $fz-small;
    }

    &__logo {
        margin-bottom: 1.5rem;
    }

    &__text {
        font-style: normal;
    }

    &__info,
    &__adress span {
        font-weight: 700;
    }

    &__tel {
        margin-bottom: 2rem;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        /*!!!проверить*/
        color: $black1;
        font-size: $fz-small;
        // letter-spacing: -0.51em;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    &__link {
        padding-left: 2rem;
        list-style: disc;
    }

    &__link li {
        margin-bottom: 1rem;
    }

    &__link a {
        font-size: $fz-small;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            color: $ac;
        }

        &:active {
            color: $active;
        }
    }

    &__copy {
        text-align: center;
        padding-bottom: 4rem;
        font-size: $fz;
    }
}

// .permanent {
//     width: 950px;
//     height: 50px;
// }

.quantity-block {
    display: flex;
}

.quantity-arrow-minus {
    margin-right: -1px;
    position: relative;
}

.quantity-arrow-plus {
    margin-left: -1px;
    position: relative;
}

.quantity-arrow-minus,
.quantity-arrow-plus {
    padding: 3px 2px 3px 2px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    border: 1px solid $white8;
    background-color: $white7;
}

.quantity-num {
    width: 2.5rem;
    height: 2.2rem;
    text-align: center;
    border: 1px solid $silver;
    color: $silver5;
    font-size: $fz;
    border-bottom: 1px solid $white8;
    border-top: 1px solid $white8;
}

.counter {
    display: flex;

    &__plus,
    &__minus {
        padding: 3px 2px 3px 2px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
        border: 1px solid $white8;
        background-color: $white7;
        position: relative;
    }

    &__minus {
        margin-right: -1px;
    }

    &__plus {
        margin-left: -1px;
    }

    &__num {
        width: 2.5rem;
        height: 2.2rem;
        text-align: center;
        border: 1px solid $silver;
        color: $silver5;
        font-size: $fz;
        border-bottom: 1px solid $white8;
        border-top: 1px solid $white8;
    }

    &__thing {
        color: $silver5;
        font-size: $fz;
        margin-left: 1rem;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    background: rgba(0, 0, 0, .5);
    display: none;
    font-weight: 400;
    line-height: 1.5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    &__modal {
        position: relative;
    }

    &__close {
        background-color: transparent;
        border: none;
        position: absolute;
        top: -3rem;
        right: -3rem;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            .modal__svg {
                fill: $white9;
            }
        }

        &:active {
            color: $active;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__form {
        width: 50%;
        max-width: 37rem;
        background: $white;
        padding: 3rem;
    }

    &__title {
        font-size: $fz-title;
        margin-bottom: 3rem;
        text-align: center;

        span {
            font-weight: 500;
        }
    }

    &__inputs {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        width: 100%;
        font-size: $fz-small;
        padding: 1.5rem;
        border: 1px solid $silver8;
        outline: transparent;

        // &::placeholder {
        //     // color: red;
        // }
    }

    &__info {
        font-size: $fz-small-2;
        margin-bottom: 3rem;
        color: $silver9;
    }

    &__btn {
        display: block;
        border-radius: 3px;
        font-size: $fz;
        color: $ac;
        background: $white1;
        border: 1px solid $ac;
        padding: 1.5rem;
        width: 100%;
        text-align: center;
        transition: color 0.5s;

        &:focus {
            color: $focus;
        }

        &:hover {
            background-color: $ac;
            color: $white;
        }

        &:active {
            color: $active;
        }
    }

    &__box {
        width: 50%;
        max-width: 37rem;
        color: $white;
    }

    &__subtitle {
        font-size: $fz-subtitle;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__text {
        line-height: 1.2;
    }

    &__items {
        list-style: outside;
        padding-left: 2rem;
    }

    &__item {
        padding: 30px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 2rem;
            top: 0;
            border-left: 3.7rem solid transparent;
            border-right: 3.7rem solid transparent;
        }

        &--application {
            background-color: $yellow;
        }

        &--details {
            background-color: $orange1;

            &::before {
                border-top: 1.1rem solid $yellow;
            }
        }

        &--ready {
            background-color: $red;

            &::before {
                border-top: 1.1rem solid $orange1;
            }
        }
    }
}

.fancybox-content {
    padding: 0;
}

.nav__button {
    display: block;
}

.mCSB_container {
    padding: 0 3.5rem 3.5rem 3.5rem;
}

// .mCSB_scrollTools mCSB_6_scrollbar mCS-dark mCSB_scrollTools_vertical {
//     // ml40
//     margin-left: 40px;
// }

// .mCSB_scrollTools {
//     // ml40
//     margin-left: 40px;
// }

// .mCSB_6_scrollbar {
//     margin-left: 40px;
// }

// .mCS-dark {
//     margin-left: 40px;
// }

// .mCSB_scrollTools_vertical {
//     margin-left: 40px;
// }

// -------------------------------------------
/*медия всегда должны быть в низу */
// потом удалить не нужные
.hide {
    display: none;

}

.active-modal {
    display: flex;
}

.active-modals {
    display: block;
}

.active {
    display: block;
}

@import 'media';